body {
    background-color: #202124;
    color: fff;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

/* header */

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.header-link {
    padding: 0px 0px 0px 15px;
}

.header-link:hover {
    text-decoration: underline;
}

.other {
    width: 40px;
    height: 40px;
    margin: 0px 3px 0px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear .1s;
}

.other-img {
    width: 16px;
    height: 16px;
}

.other:hover {
    background-color: #2f3235;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar:hover {
    background-color: #2f3235;
}


/* content */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 90px;
    font-weight: 150;
}

.language {
    color: #b2b2b2;
    padding: 50px 15px;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.language a {
    text-decoration: none;
    color: #99c3ff;
}

.footer {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    background-color: #171717;
}

.country {
    color: white;
    font-size: 15px;
    padding: 20px;
    padding: 15px 30px;
    border-bottom: 1px solid gray;
}

.bottom {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.bottom a {
    color: #e8e8e8;
    text-decoration: none;
    padding: 15px;
}

input[type='text'] {
    height: 17px;
    width: 650px;
    padding: 17px;
    background-color: #4d5156;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    border: none;
}

.buttons {
    margin-top: 30px;
    border-radius: 0px;
}

.search {
    font-size: 14px;
    margin: 11px 4px;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    background-color: #303134;
    color: #e8eaed;
    text-decoration: none;
    border: 1px solid transparent;
}


.bottom a:hover {
    text-decoration: underline;
    color: #e8e8e8;
}

.language a:hover {
    text-decoration: underline;
    color: #99c3ff;
}


.buttons a:hover {
    border-color: #868789;
}