body {
    background-color: #202124;
    color: fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.header {
    text-align: right;
    padding: 15px;
}
.header a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
    font-size: 15px;
}
.header .avatar {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f4511e;
    color: white;
    display: inline-block;
    border-radius: 50%;
    padding-right: 0;
}
.content {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: white;
    font-size: 120px;
    font-weight: 50px;
}
.language{
    color: #b2b2b2;
    padding: 15px;
    align-items: center;
}
.footer{
    padding-top: 5px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    background-color: #171717;
}
.country{
    color: white;
    padding: 20px;
    padding: 15px 30px;
    border-bottom: 1px solid gray;
}
.bottom {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.bottom a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
input[type='text'] {
    height: 15px;
    width: 650px;
    padding: 15px;
    background-color: #505050;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    border: none;
}
.buttons {
    margin-top: 30px;
}
.search{
    width: 160px;
    font-size: 15px;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
}

